<style>
  form {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .form-group {
    display: block;
  }

  .username {
    font-weight: bold;
  }
  .details {
    display: inline-block;
    width: 120px;
  }
  .fees {
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    padding: .5rem;
    display: block;
    font-size: 24px;
    width: 40px;
    font-weight: bold;
  }

</style>

<form
  id="<%=item._id%>"
  action="/accounts/update/<%=item.agent_id%>"
  method="POST"
>
  <div class="details"">
    <h3><%=item.user_name %></h3>
    <b><small class="balance<%=item.agent_id%>"><%=item.balance%></small></b>
  </div>
  <div class="form-group">
    <label>Anount To be paid</label>
    <input
      autofocus
      type="number"
      min="0"
      step="10"
      class="amount"
      name="amount_expected"
      value="<%=item.amount_expected%>"
      required
    />
  </div>
  <div class="form-group">
    <label>Cash</label>
    <input
      autofocus
      type="number"
      min="0"
      step="10"
      name="cash"
      class="cash<%=item.agent_id%>"
      placeholder="Cash"
      value="<%=item.cash%>"
      required
    />
  </div>
  <div class="form-group">
    <label>Tickets</label>
    <input
      autofocus
      type="number"
      min="0"
      step="1200"
      class="tickets<%=item.agent_id%>"
      name="tickets"
      placeholder="Ticket"
      value="<%=item.tickets%>"
      required
    />
  </div>
  <div class="fees">
    <div class="expected<%=item.agent_id%>"><%=item.amount_expected%></div>
    <div class="paid<%=item.agent_id%>"><%=item.cash + item.tickets%></div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  document
    .querySelector?.(".cash<%=item.agent_id%>")
    ?.addEventListener("change", () => {
      document.querySelector(".paid<%=item.agent_id%>").textContent =
        +document.querySelector(".cash<%=item.agent_id%>").value +
        +document.querySelector(".tickets<%=item.agent_id%>").value;
    });

  document
    .querySelector(".tickets<%=item.agent_id%>")
    .addEventListener("change", () => {
      document.querySelector(".paid<%=item.agent_id%>").textContent =
        +document.querySelector(".cash<%=item.agent_id%>").value +
        +document.querySelector(".tickets<%=item.agent_id%>").value;
    });

var createColor = (num) => {
    if(num > 0) return "green";
    if(num < 0) return "red";
    return "black";
}

var checkPaid = (paid, expected) => {
    if(paid > expected) return `Paid`;
    return ""
}

document.querySelector(".balance<%=item.agent_id%>").style.color = createColor(+document.querySelector(".balance<%=item.agent_id%>").textContent);

document.querySelector(".expected<%=item.agent_id%>").style.color = "red";

document.querySelector(".paid<%=item.agent_id%>").style.color = "green";

</script>
